*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    
  }

  body{
    background-image: url(/afbeeldingen/rene-padillo-d8nGnF1IqCk-unsplash.jpg) ;
  }

  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(375deg, #1cd043, #2ede98); 
    background: #000000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: #000000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #ffffff;
    border-radius: 50px;
    background: #000000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255)000;
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
    animation: color-change 6s ease infinite;
  }
  
  @keyframes color-change {
    0% {
      background: linear-gradient(rgb(24, 141, 19), rgb(61, 17, 255));
    }
    50% {
      background: linear-gradient(rgb(153, 151, 31), rgb(185, 28, 101));
    }
    100% {
      background: linear-gradient(rgb(121, 16, 69), rgb(9, 255, 0)979);
    }
  }
    
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(-6deg);
    transform-origin: bottom left;  
    z-index: -1 ;
    color: transparent;
    text-shadow:
     
     /* This set has more blur distance to create glowing effect */
     1px -1px 10px rgba(255, 255, 255, 0.4), 
     0px -1px 10px rgba(255, 255, 255, 0.4),  
    -1px -1px 10px rgba(255, 255, 255, 0.4), 

     
     /* This set has darken color to create depth */
    -1px -3px 2px #ddd, 
    -2px -3px 2px #ddd, 
    -3px -3px 2px #ddd,

    -2px -4px 2px #fff, 
    -3px -4px 2px #fff, 
    -4px -4px 2px #fff,

    -3px -5px 1px #fff, 
    -4px -5px 1px #fff, 
    -5px -5px 1px #fff;
  }
  


  .content .title{
    font-size: 6rem;
    font-weight: 700;
  }
  .content p{
    font-size: 5rem;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }